@import "_vars";
@import "_mixins";

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(44, 44, 44);

  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  font-size: 1.4rem;
  line-height: 1.5rem;
  color: $white;

  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@import "blocks/page";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/socials";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagenav";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/works";
@import "blocks/tags";
@import "blocks/cabinet";
@import "blocks/modal";