.form {

  &--passw {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__group {
  position: relative;
  margin-bottom: 1.5rem;

  &--mb25 {
    margin-bottom: 2.5rem;
  }
}

.form__control {
  display: block;
  width: 100%;
  padding: 0.5rem 0;

  background: none;
  border: none;
  border-bottom: 1px solid #3F3F3F;
  border-radius: none;
  box-shadow: none;
  outline: none;

  font-family: inherit;
  color: $white;
  font-size: 1.4rem;

  &::placeholder {
    font-size: 1.4rem;
    color: rgba($white, .2)
  }

  &:focus + .form__line {
    width: 100%;
  }

  &--textarea {
    height: 2.5rem;
    resize: none;
    overflow: hidden;
    padding-bottom: 2.2rem;
  }
}

.form__line {
  width: 0;
  height: 1px;
  background-color: $blue;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  transition: width .3s linear;
}

.form__footer {
  display: flex;
  justify-content: center;

  margin-top: 2rem;

  &--modal {
    margin-top: 4rem;
  }

  li {
    font-size: 1.2rem;
    line-height: 1.3;
    color: #B2B2B2;

    margin-right: 2rem;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @include breakpoint($mobile) {
    order: 3;
    margin-top: 1.5rem;
  }
}

.form__footer-link {
  font-size: 1.2rem;
  color: $white;

  margin: 0 .5rem;
}