.header {
  width: calc(100% - $sidebar-width);

  display: flex;
  justify-content: space-between;

  background-color: #0d0d0d;
  box-shadow: 0 .5rem 2.2rem rgba($black, .25);

  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-header;
}

.header__right {
  display: flex;
}