.main {
  padding-left: $sidebar-width;
  padding-top: 10rem;
  padding-bottom: 8rem;
  min-height: 100vh;

  background-color: #181818;

  @include breakpoint($tablet) {
    padding: 6.2rem 0 5rem;
  }

  @include breakpoint($mobile) {
    padding-bottom: 4.5rem;
  }
}