.pagenav {
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint($tablet) {
    margin-top: 5rem;
  }
}

.pagenav__item {
  margin: 0 .5rem;
}

.pagenav__link {
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  color: $white;
  line-height: 4rem;

  display: block;
  width: 4rem;
  height: 4rem;

  background-color: #0D0D0D;
  box-shadow: 0 0 10px rgba($black, .15);
  border-radius: 3px;

  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: lighten($black, 10%);
  }

  &.active {
    background-color: #104BE3;
    box-shadow: 0 0 10px rgba(#104BE3, .15);
  }
}