.post {
  margin-bottom: 3rem;
  padding: 2.5rem;
  overflow: hidden;

  box-shadow: 0 15px 25px rgba($black, .35);
  background-color: $primary;
  border-radius: 5px;
}

.post__header {
  margin: 0 0 2.5rem;

  &--preview {
    margin: -2.5rem -2.5rem 2.5rem;
  }
}

.post__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.post__content {
  margin-bottom: 1.5rem;
}

.post__title {
  font-size: 1.8rem;
  font-weight: 500;
  color: $white;

  margin-bottom: 1.5rem;

  &--mb1r {
    margin-bottom: 1rem;
  }
}

.post__link {
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;

  &--share {
    display: flex;
    align-items: center;
  }
}

.post__description {
  font-size: 1.4rem;
  line-height: 1.3;
  color: #D2D2D2;
}

.post__text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: $white;

  border-bottom: 1px solid #1C1C1C;
  padding-bottom: 1rem;

  p {
    margin-bottom: 2rem;
  }

  a {
    color: $blue;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.15em;
  }

  h5, h6 {
    font-size: 1em;
  }

  ul, ol {
    margin-bottom: 2rem;
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
  }

  table {
    margin-bottom: 2rem;
    width: 100%;
  }
}

.post__subtitle {
  font-size: 1.6rem;
  color: $white;
  font-weight: 500;

  margin-top: 3rem;
  margin-bottom: 2rem;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__data {
  display: flex;
}

.post__data-item {
  font-size: 1.2rem;
  color: #828282;

  &:not(:last-child):after {
    content: '';

    position: relative;
    top: -2px;

    display: inline-block;
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #C4C4C4;

    margin: 0 1.5rem;
  }

  a {
    color: inherit;
  }
}

.post__read {
  font-size: 1.4rem;
  color: #107EFF;

  text-align: right;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.post__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2rem;
  color: $white;

  margin-bottom: 1.5rem;

  a {
    color: inherit;
    opacity: .6;

    transition: opacity .2s linear;

    &:hover {
      opacity: .9;
    }
  }
}

.post__actions-icon {
  margin-left: 0.5rem;
}