.sidebar {
  display: flex;
  flex-direction: column;

  width: $sidebar-width;
  height: 100vh;

  background-color: $primary;
  box-shadow: .5rem 0 1.5rem rgba(#050505, .1);

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;

  @include breakpoint($tablet) {
    display: none;

    .show-sidebar & {
      display: flex;
    }

    top: 4rem;
    height: calc(100vh - 4rem);
    overflow: auto;
  }
}

.sidebar__header {
  height: 18rem;
  background-color: $secondary;

  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint($tablet) {
    height: 10rem;
  }
}

.sidebar__content {
  position: relative;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;

  padding: 0 2rem 1.5rem;
}