.stories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 13px;
  grid-template-rows: 195px;

  margin-bottom: 3rem;
}

.stories__item {
  position: relative;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba($black, .2);

  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to bottom,
      rgba($black, .8),
      rgba($black, 0) 50%,
      rgba($black, .8)
    );

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:hover{
    .stories__preview {
      transform: scale(1.3);
      transition-duration: 2s;
    }
  }
}

.stories__preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: scale(1.05);
  transition: transform .5s ease-in-out;
}

.stories__title,
.stories__date {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  color: $white;
  opacity: .85;

  position: absolute;
  left: 0;
  z-index: 3;

  width: 100%;
}

.stories__title {
  top: 0;
  padding: 1.4rem;
}

.stories__date {
  text-align: right;
  bottom: 0;

  padding-right: 1.7rem;
  padding-bottom: 1.4rem;
}