.subnav {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: $blue;
  border-radius: 0 0 .5rem .5rem;
  box-shadow: 0 .6rem .8rem rgba($black, .2);

  width: 16.5rem;
  padding: .7rem 0;
  margin: 0;
}

.subnav__link {
  display: block;
  padding: .7rem 1.2rem;

  color: $white;

  transition: background-color .1s ease-in-out;

  &:hover {
    background-color: darken($blue, 5%);
    text-decoration: none;
  }

  @include breakpoint($mobile) {
    font-size: 1.4rem;
  }
}