.tags {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 3rem;
}

.tags__item {
  padding: .4rem .9rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  background-color: #EA8C1E;
  border-radius: 3px;

  text-align: center;
  font-size: 1.1rem;
  line-height: 1.3;
  color: $white;
}